body, html {
  background: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: "-apple-system", Helvetica, sans-serif; }

a {
  text-decoration: none; }

.menu {
  position: relative;
  z-index: 2;
  margin: 20px 0 16px 0; }
  @media (min-width: 763px) {
    .menu {
      margin: 0;
      position: fixed;
      top: 25px;
      left: 25px; } }
  .menu img {
    width: 46px;
    height: 46px;
    transition: .2s; }
  @media (min-width: 763px) {
    .menu:hover img {
      width: 50px;
      height: 50px;
      margin: -2px 0 0 -2px; } }
  .menu:active img {
    width: 46px;
    height: 46px;
    margin: 0; }

.item {
  position: relative;
  padding: 20px 0 20px 0; }
  .item h4 {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 23px;
    text-align: center;
    color: white;
    opacity: 0.25;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500; }
    @media (min-width: 763px) {
      .item h4 {
        bottom: 45px;
        font-size: 12px;
        letter-spacing: 2px; } }
  .item img.canvas {
    width: 90%;
    height: auto; }
    @media (min-width: 1000px) {
      .item img.canvas {
        width: 828px;
        height: auto; } }
  .item img.canvas-alt {
    width: 90%;
    height: auto; }
    @media (min-width: 1000px) {
      .item img.canvas-alt {
        width: 894px;
        height: auto; } }
