<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='{{ site.name }}' name='author'>
  <meta content='{{ site.meta_description }}' name='description'>
  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link href="{{ "/" | relative_url  }}assets/css/style.css" rel="stylesheet">
  <link href="{{ "/" | relative_url  }}feed.json" title="{{ site.name }}" type="application/json" rel="alternate">
  <link href="{{ "/" | relative_url  }}feed.xml" title="{{ site.name }}" type="application/rss+xml" rel="alternate">
  <link href="{{ "/" | relative_url  }}assets/css/highlight.css"rel="stylesheet">
  <link href="{{ "/" | relative_url  }}assets/images/fav32.png" sizes="32x32" rel="icon">
  <link href="{{ "/" | relative_url  }}assets/images/fav192.png" sizes="192x192" rel="icon">
  <link href="{{ "/" | relative_url  }}assets/images/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="https://micro.blog/mmarfil" rel="me">
  <link href="https://github.com/mmarfil" rel="me">
  <link href="https://mmmicroblog.herokuapp.com/micropub/main" rel="micropub">
  <link href="https://indieauth.com/auth" rel="authorization_endpoint">
  <link href="https://tokens.indieauth.com/token" rel="token_endpoint">
</head>
<body>

  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/main.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
